body {
  margin: 20px auto;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  /* change color */
  background: #f3e9dc;
  text-align: center;
  color: #5e3023;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  place-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
