body {
  margin:20px auto;
  padding: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      to left,
      rgb(255, 73, 116) 0%,
      rgb(207, 229, 11) 100%
    );
    text-align: center;
    color: #FF577F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    display: grid;
    place-items: center;
  }

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
  
  .join-chat-container {
    border-radius: 20px;
    margin: 40px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.71);
  }
  
  .join-chat-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .join-chat-container input {
    width: 50%;
    height: 60px;
    margin: 8px;
    border: 2px solid #f48f43;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
  }
  
  .join-chat-container button {
    width: 225px;
    height: 70px;
    margin: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 2rem;
    background:#FF884B;
    color: #fff;
    cursor: pointer;
  }
  
  .join-chat-container button:hover {
    background: #FF577F;
  }
  