.messageContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.messageContainer::-webkit-scrollbar {
  display: none;
}
.message {
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.avatarCircle {
  height: 44px;
  width: 44px;
  padding: 2px;
  background-color: #f7f7ee;
  box-shadow: 1px 1px 4px rgb(168, 156, 156);
  border-radius: 100%;
  margin-right: 2px;
}
.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: auto 5px;
}
.messageContent {
  width: auto;
  height: auto;
  min-height: 20px;
  max-width: 180px;
  background-color: #f7f7ee;
  border-radius: 16px;
  color: rgb(123, 88, 88);
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: 1px 1px 4px rgb(168, 156, 156);
}

#other {
  justify-content: flex-start;
  align-items: flex-end;
}

#other .messageContent {
  justify-content: flex-start;
}

#you {
  justify-content: flex-end;
}

#you .messageContent {
  justify-content: flex-end;
}

#author {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 1rem;
}

.messageMeta {
  display: flex;
}
#you .messageMeta {
  justify-content: flex-end;
  margin-right: 5px;
}
#other .messageMeta {
  justify-content: flex-start;
  margin-left: 5px;
}
.aboutTime {
  display: flex;
}
#you .aboutTime {
  display: flex;
  flex-direction: row-reverse;
}
#time {
  align-self: flex-end;
  font-size: 12px;
}
