.cardListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 768px) {
    height: 1000px;
  }
}
/* refactor -> rwd */
.cardList {
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (min-width: 1200px) {
    grid-gap: 20px;
  }
}

.title {
  font-size: 2.5rem;
  margin: 50px 0px;
  color: rgb(78, 78, 51);
  margin-top: 70px;
  letter-spacing: 7px;
}
